@media screen and (max-width: 996px){
	h2{
		line-height: 35px;
		font-size: 25px !important;
	}
	
	.header_small_text{
		font-size: 11px;
	}

	.header_call-back p{
		font-size: 18px;
	}
	.call-back_header{
		font-size: 10px;
	}
	.stairs_and_flooring_buttons4{
		margin: 30px 82px;
	}
	.stairs_and_flooring_buttons{
		background: unset;
		margin: 30px 0;
	}
	.galery_kripezh-pos{
		left: 0;
	}
	.cost_calculation__link{
		justify-content: space-around;
	}
	.shower_type_items .glasses_img_fastener2{
		left: 0;
	}
	.advantages_items{
		margin-top: 40px;
	}
	.advantages_items p{
		margin: 20px 0;
	}
	.turnkey_product h2{
		line-height: 44px;
	}
	/* .turnkey_items p{
	
	} */
	.footer_logo img{
		width: 150px;
	}
	.contacts p{
		font-size: 18px;
	}
}
@media screen and (max-width: 767px){
	h2{
		line-height: 33px;
		font-size: 25px !important;
	}
	.navbar-toggler{
		margin-top: 0px;
	}
	.header_small_text{
		display: none !important;
	}
	.bg_sections1, .bg_sections1_page2{
		display: none !important;
	}
	.services_items{
		padding: 30px 15px;
	}
	.services_items img{
		margin-right: 15px
	}
	.advantages h2{
		line-height: 35px;
	}
	.glass_reliability h2{
		line-height: 35px
	}
	.video_glass img{
		width: 100%;
	}
	.turnkey_items{
		height: 180px;
	}
	.turnkey_items img{
		height: 100%;
		object-fit: cover;
		padding: 0;
		width: 100%!important;
	}
	.turnkey_items p{
		padding:15px;
	}
	.services_items{
		margin-bottom: 5px;
	}
	.contacts p{
		margin-top: 10px;
	}

}
@media screen and (max-width: 429px){
	.navbar-toggler{
		margin-top: -120px;
	}
}

/*//////////////////// Page2////////////////////*/
@media screen and (max-width: 767px){
	.stairs_and_flooring{
		margin-top: 85px;
	}
	.up_form, .down_form{
		flex-direction: column;
	}
	.up_form input
	/*, .down_form input{*/ {
		margin-top: 25px;
		margin-left: 0;
	}
	.down_form div{
		margin-right: 0;
		/*margin: 15px auto;*/
	}
}
/*.......................page-Contacts....................*/
@media screen and (max-width: 767px){
	.contacts_head-text h2{
		text-align: center;
	}
	.contact_location{
		width:  90%;
	}
}
/*.......................page-Showers-glass....................*/
@media screen and (max-width: 1200px) and (min-width: 992px){
	.shower_type_items img{
		display: none !important;
	}
	.stairs_and_flooring_buttons1{
		background: unset;
	}
	.stairs_and_flooring_buttons{
		margin: 30px 0;
		background-position-y: 1px;
	}
	.stairs_and_flooring_buttons_calculator {
		margin: 30px 0;
	}
	.stairs_and_flooring h2{
		line-height: 40.99px;
	}
	.stairs_and_flooring_buttons4{
		margin: 30px 202px;
	}	
	.stairs_and_flooring_buttons5{
		margin: 30px 202px;
    	background-position-y: -46px;
	}
	.stairs_and_flooring_buttons2{
		margin: 30px 268px;
    	background-position-y: -46px;
	}
	.orenge_block_calc h2{
		margin: 40px 0;
		color: #ffffff;
		font-family: "Open Sans";
		font-size: 31px;
		font-weight: 300;
		line-height: 30px;
		text-transform: uppercase;
		letter-spacing: 7px;
	}
	.Glasses_pages_doors img{
		width: 50%;
	}
}
@media screen and (max-width: 1200px){
	.shower_type_items{
		width: auto;
		margin-bottom: 50px;
	}
	.shower_type_item-left{
		left: unset;
		width: auto;
	}
	.shower_type_item-right {
		width: 100%;
		left: unset;
	}
	.iphone_calc img{
		right: 0;
	}
	.glass_door_item_buttons{
		left: 6%;
	}
	.aprons_items_button{
		left: 40%;
	}
	.glass_door_items img{
		width: 440px!important;
	}
	.glass_door_items_down img{
		width: 450px!important;
	}
	.glass_door_items_new_img img{
		width: 225px!important;
	}
	.help_glaas_type{
		flex-wrap: wrap;
   		justify-content: space-around;
	}
	.help_glass_items{
		margin-bottom: 10px;
	}
	.white{
		font-size: 13px;
	}

}
@media screen and (max-width: 991px) {
	.iphone_calc img{
		display: none !important;
	}
	#master_calling{
		width: 186px;
	}
	#calculations_buttons{
		width: 184px;
	}
	.video_our{
		flex-direction: column;		
	}
	.video_our iframe{
		width: auto;
		margin: 10px 0;
	}
	.bg_types_door_items{
		margin: 0 auto;
    	width: 250px;
	}
	.types_of_door_item h3:before{
		left: 295px;
	}
	.turnkey_items{
		width: auto;
	}
	.glass_door_item_buttons{
		top: 83%;
    	left: 22%;
	}
	.comparison_glass_items .glasses_img_fastener1{
		left: unset;
	}
	.shower_type_items img{
		left: unset;
	}
	.glass_door_item{
		left: unset;
		padding: 10px 40px;
	}
	.glass_door_items img{
		display: none !important;
	}
	.glass_door_items_down img{
		display: none !important;
	}
	.glass_door_item_down{
		padding: 10px 40px;
	}
	.white{
		font-size: 13px;
	}
}
@media screen and (max-width: 767px){
	.footer_menu{
		width: 75px;
		margin: auto;
	}
	.video_glass iframe{
		/*width: auto;*/
	}
	.logo{
		width: 115px;
	}
	.navbar-toggler{
		margin: -2px;
	}
	.header_call-back p{
		font-size: 15px;
	}
	.call-back_header{
		letter-spacing: 1.6px;
	}
	.glass_door_item_buttons{
		top: 90%;
		left: 9%;
	}
	.glass_door_item_buttons{
		padding: 5px 15px;
	}
	.shower_type_item-left{
		height: auto;
	}
	.shower_type_item-right{
		height: auto;
	}
	.glass_door_item ul li{
		width: auto;
	}
	.glass_door_item_down ul li{
		width: auto;
	}
	.manufacture_items{
		margin: 0;
	}
	.contacts{
		text-align: center;
	}
	.types_of_door_item h3:before{
		left: 120px;
	}
	.call-back{
		margin: 5px auto;
	}
	.soc_icons{
		text-align: center;
	}
	.footer_logo{
		text-align: center;
    	margin: 5px auto;
	}
	.homepage-img-video-wrap {
		position: relative;
	}
	.homepage-img-video-wrap iframe,
	iframe {
		border: 10px solid #3e5669;
	}

	.video_glass {
		margin-bottom: 200px;
	}
	.homepage-img {
		position: absolute;
		top: 200px;
	}
}

@media screen and (max-width: 575px) {
	.homepage-img-video-wrap {
		position: relative;
	}
	.homepage-img-video-wrap iframe {
		/*height: 200px !important;*/
	}
	.video_glass {
		margin-bottom: 28vw;
	}
	.homepage-img {
		position: absolute;
		/*top: 30%;*/
	}
	.turnkey_product h2 {
		line-height: 30px;
		letter-spacing: 5px;
	}

	/*.glass_door_items img{*/
		/*display: block !important;*/
		/*width: 100% !important;*/
		/*height: unset;*/
	/*}*/
	/*.glass_door_item,*/
	/*.glass_door_item_down {*/
		/*border-top: none;*/
		/*border-right: none;*/
		/*border-left: none;*/
		/*padding-left: 10px;*/
		/*padding-right: 10px;*/

	/*}*/
	/*.glass_door_items_down img,*/
	/*.glass_door_item_down img{*/
		/*display: block !important;*/
	/*}*/
	/*.glass_door_item_down img {*/
		/*order: 0;*/
	/*}*/
	/*.Glasses_pages_doors,*/
	/*.glass_door_items_down{*/
		/*flex-direction: column;*/

	/*}*/
}

@media screen and (max-width: 420px) {
	.homepage-img-video-wrap {
		position: relative;
	}
	.homepage-img-video-wrap iframe {
		height: 300px !important;
	}
	.video_glass {
		/*margin-bottom: 30%;*/
	}
	.homepage-img {
		position: absolute;
		/*top: 45%;*/
	}
}
@media screen and (max-width: 556px){
	.shower_type_items img{
		display: none !important;
	}
	.shower_type_item-left{
		padding: 10px 5px 10px 30px;
	}
	.glass_door_item ul{
		display: block;
	}
	.glass_door_item_down ul{
		display: block;
	}
	.glass_door_item p:before {
		display: none !important;
	}
	.glass_door_item_down p::before{
		display: none !important;
	}
}

@media screen and (min-width: 992px) {
	.glass_door_item,
	.glass_door_item_down {
	 	width: 543px;
	}
}


/* ___ delete botstrap paddings ___*/
@media (max-width: 575px) {
	.no-padding [class*="col-"] {
		padding-right: 0;
		padding-left: 0;
	}




	.turnkey_items {
		border: none;
	}
}


/*_________________________________*/