#box3 {
    background: url('img/D.png') top center no-repeat;
}


#box6 {
    background: url('img/skinaly.png') top center no-repeat;

}


#box5 {
    background: url('img/5bg.png') top center no-repeat;
}

#box4 {
    background: url('img/panels.png') top center no-repeat;
}


#box8 {
    background: url('img/1k.png') top center no-repeat;
}
